body {
    color: darkgrey;
    background-color: lightcyan;
}
h1{
    color: darkslategrey; background-color: lightcyan
    font-family: 'Open Sans', sans-serif;
}
h2 {
    color: slategrey;
    font-family: 'Open Sans', sans-serif;
}
a {color: slategrey;}