body {
    color: darkgrey;
    background-color: lightcyan;
}
h1{
    color: darkslategrey; background-color: lightcyan
    font-family: 'Open Sans', sans-serif;
}
h2 {
    color: slategrey;
    font-family: 'Open Sans', sans-serif;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: lightskyblue;
}

nav a {color: mediumblue;}

nav a:hover {background-color: slategrey;}
a {color: slategrey;}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}